body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
}

div
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.div-1, .div-3
{
    background-color: lightblue;
}

.div-2, .div-4
{
    background-color: lightgreen;
}


h1
{
    display: flex;
    justify-content: center;
}