td
{
    /* text-align: center;  */
    vertical-align: middle;
}

table
{
    border: none;
}

.layout_table
{
    min-height: calc(100vh - 200px);
}

.header, .footer
{
    height: 100px;
    background-color: lightblue;
    padding: 0 20px;
    /* text-align: center; */
    display: table;
}

.row-xy
{
    height: 50%;
}

.header-table, .footer-table
{
    /* margin: 0 auto; */
    display: table-cell;
    vertical-align: middle;
}

.area-x, .area-y
{
    background-color: white;
    text-align: center;
    min-width: 100px;
    min-height: 50px;
    margin-right: 20px;
    
}

.area-2
{
    background-color: salmon;
}
.area-3
{
    background-color: lightgreen;
    text-align: center;
}
.area-4
{
    background-color: salmon;
}
.area-5
{
    background-color: white;
}
.area-6
{
    background-color: lightgreen;
}

.area-2, .area-3, .area-4, .area-5, .area-6, .area-x, .area-y
{
    padding: 10px;
    /* text-align: center;  */
}

.column-1
{
    width: 27vw;
}
.column-2
{
    width: 40vw;
}
.column-3
{
    width: 33vw;
}

.row-1
{
    height: 25vh;
}
.row-2
{
    height: 50vh;
}
.row-3
{
    height: 25vh;
}

@media only screen and (max-width: 1000px)
{
    
    .column-1
    {
        width: 100vw;
    }
    .column-2
    {
        width: 100vw;
    }
    .column-3
    {
        width: 100vw;
    }

    .row-1
    {
        height: 25vh;
    }
    .row-2
    {
        height: 50vh;
    }
    .row-3
    {
        height: 25vh;
    }
}